.nav-wrapper{
    background-color: #6f4037;
}
.brand-logo{
    font-family: 'Bree Serif';
    margin-left: 15px;
    
}
.slider .indicators .indicator-item.active{
    background-color: #6f4037;
}
.move{
    margin-top: 60px;
    margin-bottom: 20px;
}
.pic{
    margin-top: 40px;
}
.parallax-container{
    min-height: 280px;
    height: auto;
}
.icon-coffee{
    color:#6f4037;
}
.footer-one{
    background-color: #6f4037;
}
.footer-two{
    background-color: #3b211c;
}
footer{
    overflow-x: auto;
}
